.body-login {
    background: url(../../images/Image/signup-bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 625px;
    padding-top: 115px;
}
.login-logo img{
 width: 50%;
 margin-left: -40px;
}
.login-form{
    
    width: 50%;
    text-align: center;
    margin-left: 320px;
}
.login-form-body{
    margin-left: 90px;
}
.login-form-body input{
    display: block;
    margin-top: 10px;
    width: 80%;
    background: #F5F5F5;
    border:none;
    padding: 5px;
    border-radius: 5px;
}
.body-login form{
    max-width: 400px;
    margin: 0 auto;
}
.body-login .form-control{
    background:#f5f5f5;
    border:none;
    padding: 20px 10px;
}

