.login{
    background: url(../../images/Image/signup-bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 625px;
    padding-top: 115px;
    
}
.login input{
    display: block; 
    margin-top: 10px;
    width: 50%;
    background: #F5F5F5;
    border:none;
    padding: 5px;
    border-radius: 5px;
}
.login-forms{
    margin-left: 450px;
}
.login-btn{
    width: 20%;
    margin-top: 15px;
    background: #F91944;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: -0px;
}
.login-forms h1{
    margin-left: 145px;
}
.popup-btn{
    margin-top: 10px;
    width: 450px;
    background: #F91944;
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.login-forms a{
    color: black;
}
.login-forms a:hover{
    text-decoration: none;
    color: black;
}